<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order">

	<select id="queryOrderVOByPage" resultType="OrderVO">
		select o.id,o.status,sum(p.promotePrice*oi.number) totalPrice,sum(oi.number) totalNum,u.name,o.createDate,o.payDate,o.deliveryDate,o.confirmDate from order_ o ,orderitem oi,product p,user u  where o.id = oi.oid and oi.pid = p.id and oi.uid = u.id group by o.id 		
	</select>
	
</mapper>