<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order">
<!-- 添加操作  -->

	<!-- <insert id="add" parameterType="Order">
		insert into Order_(orderCode,address,post,receiver,mobile,userMessage,createDate,payDate,deliveryDate,confirmDate,uid,status) values(#{orderCode},#{address},#{post},#{receiver},#{mobile},#{userMessage},now(),#{payDate},#{deliveryDate},#{confirmDate},#{uid},#{status})
	</insert>
	删除操作 
	<delete id="deleteById">
		delete from Order_ where id = #{id}
	</delete>
	查找操作
	<select id="queryById" resultType="Order">
		select * from Order_ where id = #{id}
	</select>
	分页操作 
	<select id="queryByPage" parameterType="map" resultType="Order">
		select * from Order_ order by id limit #{start},#{pageSize}
	</select>
	查询总记录数 
	<select id="getTotals" resultType="int">
		select count(*) from Order_
	</select> -->

</mapper>