<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Property">
<!-- 添加操作  -->
	<insert id="add" parameterType="Property">
		insert into Property(cid,name) values(#{cid},#{name})
	</insert>
	<!-- 删除操作  -->
	<delete id="deleteById">
		delete from Property where id = #{id}
	</delete>
	<!-- 查找操作 -->
	<select id="queryById" resultType="Property">
	SELECT * from property where id = #{id}
	</select>
	<!-- cid查找操作 -->
	<select id="queryByCid" resultType="Property">
	SELECT p.id,p.name from category c,property p where p.cid=c.id and c.id=#{id}
	</select>
	<!-- 根据产品类型Id分页查询产品属性 -->
	<select id="queryByPage" parameterType="map" resultType="Property">
	SELECT p.id,p.name from category c,property p where p.cid=c.id and c.id=#{id}  limit #{start},#{pageSize}
	</select>
	<!-- 更新操作  -->
	<update id="update" parameterType="Property">
		update Property 
		<trim prefix="set" suffixOverrides=",">
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="cid!=null and cid!=''">
				cid = #{cid},
			</if>
		</trim>
		where id = #{id}
		<!-- update user set name = #{name},password = #{password} where id = #{id} -->
	</update>
</mapper>